<div class="message" id="messages">

<p><%# message.created_at %><strong><%#message.user.username%></strong> <%#message.content%></p>

<div class="card">
  <div class="card-block">
    <div class="row noMargin">
      <div class="col-md-1">
        <% if message.user.username == "1903" %>
          <%= image_tag("19032.png", size: "40x40") %>
        <% else %>
          <%= gravatar_for message.user %>
        <% end %>
      </div>
      <div class="col-md-11">
        <p class="card-text">
          <span class="text-muted"><strong><%= message.user.username %></strong> at <%= message.created_at %> says</span><br>
          <%= Emoji.replace_unicode_moji_with_images(message.content) %>
        </p>
      </div>
    </div>

  </div>
</div>
</div>
