<!DOCTYPE html5>
<html>
  <head>
    <title>1111 Beach</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="icon" href="https://d30y9cdsu7xlg0.cloudfront.net/png/10397-200.png">

  </head>

  <body>

    <!-- <div class="container"> -->
    <%= render partial: 'layouts/navbar' %>

    <div class="container-fluid">
      <% if notice %>
        <div class="alert alert-success"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger"><%= alert %></div>
      <% end %>
    </div>

      <%= yield %>
    <!-- </div> -->
</body>
</html>
