<!DOCTYPE html5>
<html>
  <head>
    <title>1111 Beach</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="icon" href="https://d30y9cdsu7xlg0.cloudfront.net/png/10397-200.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />

  </head>

  <body>

    <div class="container">
<div class="hidden" id="snow"></div>
<a class="github-fork-ribbon right-bottom fixed" href="#" title="1111 Make a Wish" id="toggle-snow"></a>



      <%= render partial: 'layouts/navbar' %>

        <% if notice || alert %>
        <div
        class="alert alert-<%= notice ? 'success' : 'danger'%> alert-dismissable"
        role="alert">
        <%= notice || alert %>
        <span class="close" aria-hidden="true">&times;</span>
      </div>
    <% end %>
    </div>

    <div class="container">
      <%= yield %>
    </div>
</body>
</html>
